In [ ]:
#installing selenium librariy
!pip install selenium

In [ ]:
# Importing Libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.chrome.options import Options

In [ ]:
#Q1 Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
#This task will be done in following steps:
#1. First get the webpage https://www.naukri.com/
#2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
#3. Then click the search button.
#4. Then scrape the data for the first 10 jobs results you get.
#5. Finally create a dataframe of the scraped data


#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"C:\Users\shaha\Desktop\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)


# getting the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')
driver.maximize_window()

#Entering “Data Analyst” in “Skill, Designations, Companies” field 
search_field_designation=driver.find_element_by_class_name("suggestor-input ") 
search_field_designation.send_keys("Data Analyst")

#Entering “Bangalore” in “enter the location” field 
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input") 
search_field_location.send_keys("Bangalore")

# clicking on search button.
search_button=driver.find_element_by_class_name('qsbSubmit') 
search_button.click()


# empty list for required data
Job_title=[]
Comp_Name=[]
Location=[]
Experiance=[]

In [ ]:
#scrapeing the data for the 1st 10jobs results

#scraping Job title
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") 
for i in title:
    Job_title.append(i.text)
print(Job_title[0:10])

#scraping Company Name
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']") 
for i in name:
    Comp_Name.append(i.text)
print(Comp_Name[0:10])

#scraping Job location
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]") 
for i in loc:
    Location.append(i.text)
print(Location[0:10])

#scraping experiance
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span") 
for i in exp:
    Experiance.append(i.text)
print(Experiance[0:10])

#createing a dataframe of the scraped data
Ten_jobs_results=pd.DataFrame({'Job_title':Job_title[0:10],'Comp_Name':Comp_Name[0:10],'Location':Location[0:10],'Experiance':Experiance[0:10]})
Ten_jobs_results

#closeing window

In [ ]:
driver.close()

In [ ]:
#Q2 Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data. This task will be done in following steps:
#1. First get the webpage https://www.naukri.com/
#2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
#3. Then click the search button.
#4. Then scrape the data for the first 10 jobs results you get.
#5. Finally create a dataframe of the scraped data.

#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
driver=webdriver.Chrome(r"C:\Users\shaha\Desktop\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

# getting the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')
driver.maximize_window()


#Entering “Data Scientist” in “Skill, Designations, Companies” field 
search_field_designation=driver.find_element_by_class_name("suggestor-input ") 
search_field_designation.send_keys("Data Scientist")

#Entering “Bangalore” in “enter the location” field 
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[5]/div/div/div/input") 
search_field_location.send_keys("Bangalore")


# clicking on search button.
search_button=driver.find_element_by_class_name('qsbSubmit') 
search_button.click()

#creating empty lits
Job_title=[]
Comp_Name=[]
Location=[]
Experiance=[]

In [ ]:
#scrapeing the data for the 1st 10jobs results

#scraping Job title
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") 
for i in title:
    Job_title.append(i.text)
print(Job_title[0:10])

#scraping Company Name
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']") 
for i in name:
    Comp_Name.append(i.text)
print(Comp_Name[0:10])

#scraping Job location
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]") 
for i in loc:
    Location.append(i.text)
print(Location[0:10])

#scraping experiance
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span") 
for i in exp:
    Experiance.append(i.text)
print(Experiance[0:10])

#createing a dataframe of the scraped data
Ten_jobs_results=pd.DataFrame({'Job_title':Job_title[0:10],'Comp_Name':Comp_Name[0:10],'Location':Location[0:10],'Experiance':Experiance[0:10]})
Ten_jobs_results

In [ ]:
#closing the window
driver.close()

In [ ]:
#Q3 The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
#The task will be done as shown in the below steps:
#1. first get the webpage https://www.naukri.com/
#2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
#3. Then click the search button.
#4. Then apply the location filter and salary filter by checking the respective boxes
#5. Then scrape the data for the first 10 jobs results you get.
#6. Finally create a dataframe of the scraped data.

#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"C:\Users\shaha\Desktop\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

# getting the webpage https://www.naukri.com/
driver.get('https://www.naukri.com/')
driver.maximize_window()

#Entering “Data Scientist” in “Skill, Designations, Companies” field 
search_field_designation=driver.find_element_by_class_name("suggestor-input ") 
search_field_designation.send_keys("Data Scientist")

# clicking on search button.
search_button=driver.find_element_by_class_name('qsbSubmit') 
search_button.click()

#Creating empty lits
Job_title=[]
Comp_Name=[]
Location=[]
Experiance=[]

In [ ]:
# Applying the location filter 
loc=driver.find_elements_by_xpath('//div[@class="mt-8 chckBoxCont"]//span') 
for i in loc:
    if i.text==('Delhi / NCR'):
        i.click()
        break

In [ ]:
# Applying the salary filter 
sal=driver.find_elements_by_xpath('//div[@class="mt-8 chckBoxCont"]//span') 
for i in sal:
    if i.text==('3-6 Lakhs'):
        i.click()
        break

In [ ]:
#scraping Job title
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']") 
for i in title:
    Job_title.append(i.text)
print(Job_title[0:10])

#scraping Company Name
name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']") 
for i in name:
    Comp_Name.append(i.text)
print(Comp_Name[0:10])

#scraping Job location
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]") 
for i in loc:
    Location.append(i.text)
print(Location[0:10])

#scraping experiance
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span") 
for i in exp:
    Experiance.append(i.text)
print(Experiance[0:10])

#createing a dataframe of the scraped data
ten_jobs_results=pd.DataFrame({'Job_title':Job_title[0:10],'Comp_Name':Comp_Name[0:10],'Location':Location[0:10],'Experiance':Experiance[0:10]})
ten_jobs_results

In [ ]:
#closing the window
driver.close()

In [ ]:
#Q4Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
#1. Brand 2. Product Description 3. Price The attributes which you have to scrape is ticked marked in the below image.
#To scrape the data you have to go through following steps:
#1. Go to Flipkart webpage by url : https://www.flipkart.com/
#2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
#3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
#4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
#5. Now scrape data from this page as usual #6. Repeat this until you get data for 100 sunglasses.

#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"C:\Users\shaha\Desktop\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

# Flipkart webpage by url : https://www.flipkart.com/
url="https://www.flipkart.com/" 
driver.get(url)

#maximize the chrome window
driver.maximize_window() 

# closing login pop-up window
Close_button=driver.find_element_by_xpath('/html/body/div[2]/div/div/button') 
Close_button.click()

#Entering “sunglasses” in search field where “search for products, brands and more” 
search_field_sunglasses=driver.find_element_by_class_name("_3704LK ") 
search_field_sunglasses.send_keys("sunglasses")

# clicking on search button.
search_button=driver.find_element_by_class_name('_34RNph') 
search_button.click()
time.sleep(2)

#Creating empty lits
Brand=[]
Product_Desp=[]
Price=[]

In [ ]:
for i in range(0,2):    
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        Brand.append(i.text)
        
    product_desp=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in product_desp:
        Product_Desp.append(i.text)
        
    price=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]")
    for i in price:
        Price.append(i.text)
        
    next_button=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a/span")
    next_button.click()
    time.sleep(2)
    
next_button=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[3]")
next_button.click()
time.sleep(2)

brand1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand1:
    Brand.append(i.text[:20])
        
product_desp1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in product_desp1:
    Product_Desp.append(i.text[:20])
        
price=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]")
for i in price:
    Price.append(i.text[:20])
    
print(Brand[:100])
print(Product_Desp[:100])
print(Price[:100])

first_100sunglasses=pd.DataFrame({'Brand':Brand[:100],'Product_Desp':Product_Desp[:100],'Price':Price[:100]})
first_100sunglasses

In [ ]:
#close window
driver.close()

In [ ]:
#Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.This task will be done in following steps:
#1. First get the webpage https://www.flipkart.com/ #2. Enter “iphone 11” in “Search” field . #3. Then click the search button As shown in the above page you have to scrape the tick marked attributes.These are:
#1. Rating 2. Review summary 3. Full review 4. You have to scrape this data for first 100 reviews.

#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"C:\Users\shaha\Desktop\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

# Flipkart webpage by url : https://www.flipkart.com/
url="https://www.flipkart.com/" 
driver.get(url)

#maximize the chrome window
driver.maximize_window() 

# closing login pop-up window
Close_button=driver.find_element_by_xpath('/html/body/div[2]/div/div/button') 
Close_button.click()

#Entering “iphone 11” in search field where “search for products, brands and more” 
search_field_iphone=driver.find_element_by_class_name("_3704LK ") 
search_field_iphone.send_keys("iphone 11")

# clicking on search button.
search_button=driver.find_element_by_class_name('_34RNph') 
search_button.click()
time.sleep(2)

#Creating empty lits
Rating=[]
review_sum=[]
full_review=[]

#opneing full rating and review tab
driver.close()
driver1=webdriver.Chrome(r"C:\Users\shaha\Desktop\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)
driver1.get('https://www.flipkart.com/apple-iphone-11-white-128-gb/product-reviews/itme32df47ea6742?pid=MOBFWQ6B7KKRXDDS&lid=LSTMOBFWQ6B7KKRXDDSMBIFYZ&marketplace=FLIPKART')
driver1.maximize_window()

In [ ]:
def flipkart_100():
    rating=driver1.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for i in rating:
        Rating.append(i.text)
    
    a=driver1.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in a:
        review_sum.append(i.text)

    a=driver1.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for i in a:
        full_review.append(i.text)
flipkart_100()
time.sleep(5)

In [ ]:
for a in range(0,9):
    if a==0:
        next=driver1.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[3]').click()
        flipkart_100()
        time.sleep(5)
    elif a==1:
        next1=driver1.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[4]').click()
        flipkart_100()
        time.sleep(5)
    elif a==2:
        next2=driver1.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[5]').click()
        flipkart_100()
        time.sleep(5)
    elif a==3:
        next3=driver1.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[6]').click()
        flipkart_100()
        time.sleep(5)
    elif a==4:
        next4=driver1.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[7]').click()
        flipkart_100()
        time.sleep(5)    
    elif a==5:
        next5=driver1.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[8]').click()
        flipkart_100()
        time.sleep(5)     
    elif a==6:
        next6=driver1.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[9]').click()
        flipkart_100()
        time.sleep(5)     
    elif a==7:
        next7=driver1.find_element_by_xpath('/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[10]').click()
        flipkart_100()
        time.sleep(5)

In [ ]:
Final=pd.DataFrame({'Ratings':Rating,'Review_sum':review_sum,'Full_review':full_review})
Final

In [35]:
#Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.You have to scrape 4 attributes of each sneaker:
#1. Brand 2. Product Description 3. Price

#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"C:\Users\shaha\Desktop\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

# Flipkart webpage by url : https://www.flipkart.com/
url="https://www.flipkart.com/" 
driver.get(url)

#maximize the chrome window
driver.maximize_window() 

# closing login pop-up window
Close_button=driver.find_element_by_xpath('/html/body/div[2]/div/div/button') 
Close_button.click()

#Entering “sneakers” in search field where “search for products, brands and more” 
search_field_iphone=driver.find_element_by_class_name("_3704LK ") 
search_field_iphone.send_keys("sneakers")

# clicking on search button.
search_button=driver.find_element_by_class_name('_34RNph') 
search_button.click()
time.sleep(2)

#Creating empty lits
Brand=[]
Product_Desp=[]
Price=[]

In [37]:
for i in range(0,2):    
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        Brand.append(i.text)
        
    product_desp=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in product_desp:
        Product_Desp.append(i.text)
        
    price=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]")
    for i in price:
        Price.append(i.text)
        
    next_button=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a/span")
    next_button.click()
    time.sleep(2)
    
next_button=driver.find_element_by_xpath("//nav[@class='yFHi8N']/a[3]")
next_button.click()
time.sleep(2)

brand1=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand1:
    Brand.append(i.text[:20])
        
product_desp1=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in product_desp1:
    Product_Desp.append(i.text[:20])
        
price=driver.find_elements_by_xpath("//a[@class='_3bPFwb']/div[1]")
for i in price:
    Price.append(i.text[:20])
    
print(Brand[:100])
print(Product_Desp[:100])
print(Price[:100])

first_100sneakers=pd.DataFrame({'Brand':Brand[:100],'Product_Desp':Product_Desp[:100],'Price':Price[:100]})
first_100sneakers

['Echor', 'Chevit', 'BIRDE', 'Layasa', 'Magnolia', 'Robbie jones', 'URBANBOX', 'BRUTON', 'BRUTON', 'Labbin', 'Robbie jones', 'HOTSTYLE', 'Robbie jones', 'Kraasa', 'KWIK FIT', 'Kirjak', 'BRUTON', 'aadi', 'Robbie jones', 'BIRDE', 'D-SNEAKERZ', 'Dicy', 'ASTEROID', 'corsac', 'U.S. POLO ASSN.', 'bluemaker', 'PUMA', 'BIRDE', 'HOTSTYLE', 'Robbie jones', 'PUMA', 'SLAZENGER', 'Kraasa', 'CLYMB', "LEVI'S", 'BIRDE', 'Dizzler', 'Robbie jones', 'Kzaara', 'BIRDE', 'Echor', 'Chevit', 'BIRDE', 'Layasa', 'Magnolia', 'Robbie jones', 'URBANBOX', 'BRUTON', 'BRUTON', 'Labbin', 'Robbie jones', 'HOTSTYLE', 'Robbie jones', 'Kraasa', 'KWIK FIT', 'Kirjak', 'BRUTON', 'aadi', 'Robbie jones', 'BIRDE', 'D-SNEAKERZ', 'Dicy', 'ASTEROID', 'corsac', 'U.S. POLO ASSN.', 'bluemaker', 'PUMA', 'BIRDE', 'HOTSTYLE', 'Robbie jones', 'PUMA', 'SLAZENGER', 'Kraasa', 'CLYMB', "LEVI'S", 'BIRDE', 'Dizzler', 'Robbie jones', 'Kzaara', 'BIRDE', 'Robbie jones', 'CAMPUS', 'Kzaara', 'corsac', 'Kraasa', 'BRUTON', 'SCATCHITE', 'Chevit', 'BIRDE', 'NAUTICA', 'ONECENTRE', 'Chevit', 'AKIMBO', 'Roadster', 'ZF Klub', 'DUNKASTON', 'corsac', 'Robbie jones', 'Layasa', 'Rzisbo']
["Men's Casual sneaker shoes running shoes walking shoes ...", '494 Perfect Sports Shoes for Running Training Hikking &...', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', 'Sneakers For Men', 'Sneakers For Men', 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...', 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Casual Sneakers Canvas Shoes For Men Sneakers For Men', 'Shark-41 Sneakers For Men', 'Kwik FIT casual sneaker shoes and partywear shoes Casua...', "men's Skyblue sneakers lace-up trendy casual Sneakers F...", 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sports Running Shoes Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'STYLISH MENS BLACK SNEAKER Sneakers For Men', 'PANAL Sneakers For Men', 'casual for men Sneakers For Men', 'Puma Smash v2 L Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', 'Sneakers For Men', 'Casual Sneakers White Shoes For Men Sneakers For Men', 'Puma Smash Vulc Sneakers For Men', 'Sneakers For Men', 'Series 7 Sneakers For Men', 'Sneakers For Men', "Men's Lancer Sneakers Sneakers For Men", 'Stylish Comfortable Lightweight, Breathable Casual Walk...', 'Sneakers For Men', 'Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', "Men's Casual sneaker shoes running shoes walking shoes ...", '494 Perfect Sports Shoes for Running Training Hikking &...', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', 'Sneakers For Men', 'Sneakers For Men', 'Casual Sneakers Green Shoes For Men And Boys Sneakers F...', 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...', 'Lightweight Pack Of 1 Trendy Sneakers Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Casual Sneakers Canvas Shoes For Men Sneakers For Men', 'Shark-41 Sneakers For Men', 'Kwik FIT casual sneaker shoes and partywear shoes Casua...', "men's Skyblue sneakers lace-up trendy casual Sneakers F...", 'Modern Trendy Sneakers Shoes Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', 'Sports Running Shoes Sneakers For Men', "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...", 'Sneakers For Men', "Original Luxury Branded Fashionable Men's Casual Walkin...", 'STYLISH MENS BLACK SNEAKER Sneakers For Men', 'PANAL Sneakers For Men', 'casual for men Sneakers For Men', 'Puma Smash v2 L Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', 'Sneakers For Men', 'Casual Sneakers White Shoes For Men Sneakers For Men', 'Puma Smash Vulc Sneakers For Men', 'Sneakers For Men', 'Series 7 Sneakers For Men', 'Sneakers For Men', "Men's Lancer Sneakers Sneakers For Men", 'Stylish Comfortable Lightweight, Breathable Casual Walk...', 'Sneakers For Men', 'Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Walking Sho...', 'Sneakers For Men', 'KING PRO Sneakers For Men', 'Sneakers For Men', 'Casuals, Canvas, Partywear Sneakers For Men', 'Lattest Sneakers Shoe Sneakers For Men', 'Sneakers Sneakers For Men', 'Stylish Comfortable Lightweight, Breathable Casual Walk...', 'Sneakers For Men', 'STR2 Sneakers For Men', 'Unique & Perfect Collection Combo Pack of 02 Shoes for ...', 'Sneakers For Men', 'Sneakers For Men', 'Casual Trendy Sneaker Casual Shoes For Men Casuals For ...', 'STYLISH MENS BLACK SNEAKER Sneakers For Men', 'Casual Sneakers Shoes For Men And Boys Sneakers For Men', 'Sneakers For Men', 'Sneakers For Men', '1259 smart black lace-ups sneakers for men Sneakers For...', 'Sneakers For Men', 'x KL Seattle Sneakers For Men', 'Sneakers For Men', '411 Casual Sneakers For Men', 'Comfortable & Ultra Light Weight Sneaker Sneakers For M...', 'Sneakers For Men', 'Sneakers For Men', 'JFWGEORGE KNIT LACE UP Sneakers For Men']
['₹569₹1,49962% off', '₹254₹99974% off', '₹299₹99970% off', '₹399₹99960% off', '₹374₹99962% off', '₹399₹99960% off', '₹198₹99980% off', '₹499₹3,49985% off', '₹149₹59975% off', '₹474₹99952% off', '₹379₹99962% off', '₹180₹49963% off', '₹399₹99960% off', '₹419₹99958% off', '₹397₹1,99980% off', '₹490₹1,99975% off', '₹269₹1,29979% off', '₹319₹99968% off', '₹399₹99960% off', '₹249₹99875% off', '₹284₹65956% off', '₹284₹59952% off', '₹474₹1,99976% off', '₹499₹1,49966% off', '₹1,295₹2,99956% off', '₹399₹99960% off', '₹1,115₹3,49968% off', '₹356₹99964% off', '₹245₹99875% off', '₹379₹99962% off', '₹2,089₹3,79945% off', '₹979₹2,79965% off', '₹449₹99955% off', '₹519₹1,49965% off', '₹1,599₹3,19950% off', '₹299₹99970% off', '₹470₹71934% off', '₹379₹99962% off', '₹244₹99975% off', '₹283₹99971% off', '₹569₹1,49962% off', '₹254₹99974% off', '₹299₹99970% off', '₹399₹99960% off', '₹374₹99962% off', '₹399₹99960% off', '₹198₹99980% off', '₹499₹3,49985% off', '₹149₹59975% off', '₹474₹99952% off', '₹379₹99962% off', '₹180₹49963% off', '₹399₹99960% off', '₹419₹99958% off', '₹397₹1,99980% off', '₹490₹1,99975% off', '₹269₹1,29979% off', '₹319₹99968% off', '₹399₹99960% off', '₹249₹99875% off', '₹284₹65956% off', '₹284₹59952% off', '₹379₹99962% off', '₹709₹1,09935% off', '₹244₹99975% off', '₹549₹1,49963% off', '₹479₹99952% off', '₹278₹1,29978% off', '₹360₹99963% off', '₹549₹2,39777% off', '₹299₹99970% off', '₹1,479₹5,29972% off', '₹300₹60050% off', '₹424₹1,49871% off', '₹549₹99945% off', '₹989₹3,19969% off', '₹349₹99965% off', '₹399₹1,49973% off', '₹499₹1,49966% off', '₹399₹99960% off', '₹399₹99960% off', '₹490₹99950% off', '₹210₹49957% off', '₹1,214₹2,99959% off', '₹2,269₹4,49949% off', '₹895₹1,99055% off', '₹450₹1,99977% off', '₹424₹99957% off', '₹1,295₹2,99956% off', '₹474₹99952% off', '₹1,079₹3,99973% off', '₹281₹1,29978% off', '₹319₹99968% off', '₹660₹99933% off', '₹756₹89915% off', '₹1,399₹2,79950% off', '₹649₹1,89865% off', '₹399₹1,99980% off', '₹1,599₹3,19950% off', '₹1,295₹2,99956% off']

,Brand,Product_Desp,Price
0,Echor,Men's Casual sneaker shoes running shoes walki...,"₹569₹1,49962% off"
1,Chevit,494 Perfect Sports Shoes for Running Training ...,₹254₹99974% off
2,BIRDE,"Stylish Comfortable Lightweight, Breathable Wa...",₹299₹99970% off
3,Layasa,Sneakers For Men,₹399₹99960% off
4,Magnolia,Sneakers For Men,₹374₹99962% off
...,...,...,...
95,DUNKASTON,411 Casual Sneakers For Men,"₹1,399₹2,79950% off"
96,corsac,Comfortable & Ultra Light Weight Sneaker Sneak...,"₹649₹1,89865% off"
97,Robbie jones,Sneakers For Men,"₹399₹1,99980% off"
98,Layasa,Sneakers For Men,"₹1,599₹3,19950% off"
99,Rzisbo,JFWGEORGE KNIT LACE UP Sneakers For Men,"₹1,295₹2,99956% off"

In [38]:
driver.quit()

In [39]:
#Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image.
# And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image

#connect to web driver
chrome_options=Options()
chrome_options.add_argument("disable--infobars")
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"C:\Users\shaha\Desktop\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

# myntra webpage: https://www.myntra.com/shoes
url="https://www.myntra.com/shoes" 
driver.get(url)

#maximize the chrome window
driver.maximize_window() 

#Creating empty lits
Brand=[]
Product_Desp=[]
Price=[]

In [42]:
# Applying second Price filter 
price_filter=driver.find_element_by_xpath("//ul[@class='price-list']/li[2]/label[@class='common-customCheckbox vertical-filters-label']//div[@class='common-checkboxIndicator']").click()

In [44]:
# Applying Color filter to “Black”
color_filter=driver.find_element_by_xpath("//ul/li[1][@class='colour-listItem']/label[1]/div").click()

In [48]:
for i in range(0,2):    
    brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand:
        Brand.append(i.text) 
        
    product_desp=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4[@class='product-product']")
    for i in product_desp:
        Product_Desp.append(i.text) 
        
    price=driver.find_elements_by_xpath("//div[@class='product-price']/span")
    for i in price:
        Price.append(i.text)
        
    next_button=driver.find_element_by_xpath("//li[@class='pagination-next']/a").click()
        
print(Brand[:100])
print(Product_Desp[:100])
print(Price[:100])

first_100shoes=pd.DataFrame({'Brand':Brand[:100],'Product_Desp':Product_Desp[:100],'Price':Price[:100]})
first_100shoes

['Skechers', 'UNDER ARMOUR', 'PUMA Motorsport', 'Puma', 'Puma', 'Nike', 'Skechers', 'UNDER ARMOUR', 'Puma', 'Nike', 'Nike', 'Puma', 'UNDER ARMOUR', 'UNDER ARMOUR', 'Puma', 'Vans', 'ADIDAS', 'Reebok', 'Skechers', 'UNDER ARMOUR', 'Hush Puppies', 'Skechers', 'Geox', 'UNDER ARMOUR', 'Geox', 'ADIDAS', 'ADIDAS', 'Hush Puppies', 'Geox', 'J.FONTINI', 'Geox', 'Columbia', 'ASICS', 'Geox', 'Geox', 'Geox', 'Geox', 'ADIDAS', 'Geox', 'LOUIS STITCH', 'Geox', 'UNDER ARMOUR', 'Geox', 'Columbia', 'Geox', 'Geox', 'UNDER ARMOUR', 'Geox', 'ADIDAS', 'Geox', 'Skechers', 'UNDER ARMOUR', 'PUMA Motorsport', 'Puma', 'Puma', 'Nike', 'Skechers', 'UNDER ARMOUR', 'Puma', 'Nike', 'Nike', 'Puma', 'UNDER ARMOUR', 'UNDER ARMOUR', 'Puma', 'Vans', 'ADIDAS', 'Reebok', 'Skechers', 'UNDER ARMOUR', 'Hush Puppies', 'Skechers', 'Geox', 'UNDER ARMOUR', 'Geox', 'Geox', 'Saint G', 'LOUIS STITCH', 'LOUIS STITCH', 'EVADICT By Decathlon', 'Geox', 'LOUIS STITCH', 'KIPRUN By Decathlon', 'J.FONTINI', 'LOUIS STITCH', 'ASICS', 'LOUIS STITCH', 'Clarks', 'Bugatti', 'DAVINCHI', 'Geox', 'KLEAT', 'Geox', 'Clarks', 'Geox', 'KLEAT', 'Saint G', 'Clarks', 'Bugatti', 'Bugatti']
['Men Go Walk 5 Walking Shoes', 'Men UA Charged Vantage 2 Run', 'Ferrari R-Cat Machina Sneakers', 'Eternity Nitro Running Shoes', 'Electrify Nitro Running Shoes', 'Women Pegasus 39 Running Shoes', 'Women Go Walk EU Walking Shoes', 'Men UA Charged Breeze Training', 'Men Running Shoes', 'Women React MR 3 Running Shoes', 'Women React Escape Running', 'Men Velocity Nitro 2 Running', 'Men Charged Breeze Running', 'Men UA TriBase Reign4 Training', 'Women Kosmo Rider DC5 Sneakers', 'Men Colourblocked Sneakers', 'Men Solar Glide 4 ST Running', 'Men Nanoflex TR Training Shoes', 'Men Woven Design Sneakers', 'Women Charged Breeze Running', 'Men Textured Leather Sneakers', 'Men Textured Sneakers', 'Men Leather Loafers', 'W omen TriBase Reign 4 Running', 'Men Leather Sneakers', 'Women Sports Shoes', 'Women Supernova Running Shoes', 'Men Solid Leather Formal Slip-Ons', 'Men Leather Driving Shoes', 'Men Leather Fashion', 'Men Textured Leather Driving Shoes', 'Men FACET OUTDRY Trekking Shoe', 'Men Sports Shoes', 'Men Textured Leather Driving Shoes', 'Men Textured Leather Driving Shoes', 'Men Textured Leather Driving Shoes', 'Men Textured Leather Slip-On Sneakers', 'Women Solar Glide 5 Running', 'Men Textured Leather Driving Shoes', 'Men Textured Genuine Italian Leather Formal Oxfords', 'Women Textured Leather Loafers', 'Men HOVR Sonic SE Running Shoe', 'Leather Block Sandals', 'Women REDMOND V2 TrekkingShoe', 'Men Perforations Sneakers', 'Men Leather Sneakers', 'Women Hovr Sonic SE Run Shoes', 'Men Leather Sneakers', 'Women KarlieKlossX9000 Running', 'Men Leather Sneakers', 'Men Leather Sneakers', 'Leather Block Sandals', 'Men Solid Genuine Italian Leather Formal Oxfords', 'Men Handmade Flat Boots', 'Men Running Shoes', 'Men Leather Loafers', 'Men Italian Leather Oxfords', 'Men Running Shoes', 'Men Textured Leather Loafers', 'Men Leather High-Top Flat Boots', 'Women Running Shoes', 'Men Suede Flat Boots', 'Men Leather Derbys', 'Printed Comfort Sandals', 'Men Textured Formal Leather Loafers', 'Women Ballerinas Flats', 'Men Textured High-Top Flat Boots', 'Women Textured Leather Loafers', 'Men Solid Leather Formal Loafers', 'Women Open Toe Flats', 'Men Suede Flat Boots', 'Stiletto Heel Mules', 'Men Leather Slip-On Sneakers', 'Men Leather Monks', 'Men Leather Formal Derbys', 'Men Textured Leather Formal Loafers', 'Leather Block Heels', 'High-Top Block Heeled Boots', 'Suede Leather Block Heel Boots', 'Men Leather Chelsea Boots', 'Leather Block Pumps', 'Textured Leather Block Pumps', 'Flatform Heels', 'Leather Block Sandals', 'Men Solid Leather Formal Loafers', 'Men Trekking Shoes', 'Leather Flatform Sandals', 'Men Formal Leather Slip-Ons', 'Men Leather High-Top Derbys', 'Suede Embellished Ankle Boots', 'Women Open Toe Flats', 'Women Ballerinas Flats', 'Women Colourblocked Leather Sneakers', 'Men Leather Formal Derbys', 'Men Leather Formal Loafers', 'Women Textured Leather Sneakers', 'PEAKFREAK OUTDRY Trekking Shoe', 'Women Leather Slip-On Sneakers', 'Women Leather Sneakers', 'Men Suede Leather Flat Boots']
['Rs. 8499', 'Rs. 7999', 'Rs. 7499', 'Rs. 12999', 'Rs. 9999', 'Rs. 10495', 'Rs. 7499', 'Rs. 8999', 'Rs. 9999', 'Rs. 10495', 'Rs. 8046Rs. 11495', '(30% OFF)', 'Rs. 10999', 'Rs. 8999', 'Rs. 11999', 'Rs. 7999', 'Rs. 8249Rs. 10999', '(25% OFF)', 'Rs. 10499Rs. 14999', '(30% OFF)', 'Rs. 7999', 'Rs. 7499', 'Rs. 8999', 'Rs. 7199Rs. 7999', '(10% OFF)', 'Rs. 7999', 'Rs. 9341Rs. 10990', '(15% OFF)', 'Rs. 11999', 'Rs. 12990', 'Rs. 9899Rs. 17999', '(45% OFF)', 'Rs. 9999', 'Rs. 7999Rs. 9999', '(20% OFF)', 'Rs. 8992Rs. 11990', '(25% OFF)', 'Rs. 8490', 'Rs. 9441Rs. 10490', '(10% OFF)', 'Rs. 11699Rs. 12999', '(10% OFF)', 'Rs. 13999', 'Rs. 9891Rs. 10990', '(10% OFF)', 'Rs. 8491Rs. 9990', '(15% OFF)', 'Rs. 9891Rs. 10990', '(10% OFF)', 'Rs. 9990', 'Rs. 13999', 'Rs. 9341Rs. 10990', '(15% OFF)', 'Rs. 3769Rs. 12999', '(71% OFF)', 'Rs. 7492Rs. 9990', '(25% OFF)', 'Rs. 8999Rs. 9999', '(10% OFF)', 'Rs. 7117Rs. 9490', '(25% OFF)', 'Rs. 7199Rs. 7999', '(10% OFF)', 'Rs. 13990', 'Rs. 10990', 'Rs. 8999Rs. 9999', '(10% OFF)', 'Rs. 12990', 'Rs. 13999', 'Rs. 13990', 'Rs. 13990', 'Rs. 9810Rs. 10900', '(10% OFF)', 'Rs. 3769Rs. 12999', '(71% OFF)', 'Rs. 2159Rs. 8999', '(76% OFF)', 'Rs. 9239Rs. 10499', '(12% OFF)', 'Rs. 11041Rs. 12990', '(15% OFF)', 'Rs. 3769Rs. 12999', '(71% OFF)', 'Rs. 7372Rs. 10099', '(27% OFF)', 'Rs. 8490', 'Rs. 8999', 'Rs. 7599Rs. 7999', '(5% OFF)', 'Rs. 2159Rs. 8999', '(76% OFF)', 'Rs. 7499', 'Rs. 7499', 'Rs. 8990', 'Rs. 8055Rs. 8950', '(10% OFF)', 'Rs. 1599Rs. 9999', '(84% OFF)', 'Rs. 7117Rs. 9490', '(25% OFF)']

              Brand                     Product_Desp             Price
0          Skechers      Men Go Walk 5 Walking Shoes          Rs. 8499
1      UNDER ARMOUR     Men UA Charged Vantage 2 Run          Rs. 7999
2   PUMA Motorsport   Ferrari R-Cat Machina Sneakers          Rs. 7499
3              Puma     Eternity Nitro Running Shoes         Rs. 12999
4              Puma    Electrify Nitro Running Shoes          Rs. 9999
..              ...                              ...               ...
95            KLEAT  Women Textured Leather Sneakers         (10% OFF)
96          Saint G   PEAKFREAK OUTDRY Trekking Shoe  Rs. 1599Rs. 9999
97           Clarks   Women Leather Slip-On Sneakers         (84% OFF)
98          Bugatti           Women Leather Sneakers  Rs. 7117Rs. 9490
99          Bugatti     Men Suede Leather Flat Boots         (25% OFF)

[100 rows x 3 columns]

In [49]:
driver.quit()

In [50]:
#Q8: Go to webpage https://www.amazon.in/  Enter “Laptop” in the search field and then click the search icon.
# Then set CPU Type filter to “Intel Core i7” as shown in the below image:
# After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
#1. Title 2. Ratings 3. Price

#connect to web driver
chrome_options=Options()
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"C:\Users\shaha\Desktop\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

# opneing webpage https://www.amazon.in/
url="https://www.amazon.in/" 
driver.get(url)

#maximize the chrome window
driver.maximize_window() 

#Entering “Laptop” in search field where “search for products, brands and more” 
search_field=driver.find_element_by_xpath("//div//div[@class='nav-search-field ']/input[@id='twotabsearchtextbox']")
search_field.send_keys("Laptop")

# clicking on search button.
search_button=driver.find_element_by_xpath("//div[@class='nav-search-submit nav-sprite']") 
search_button.click()


#Creating empty lits
Title=[]
Rating=[]
Price=[]

#Filtering CPU
cpu_filter=driver.find_element_by_xpath("//div[@id='filters']/ul/li[@aria-label='Intel Core i7']/span/a/div").click()

In [51]:
t=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
for a in t:
    Title.append(a.text)
print(Title[:10])

R_box=driver.find_elements_by_xpath("//div[@class='a-row a-size-small']/span[1]")
for i in R_box:
    Rating.append(i.get_attribute('aria-label'))
print(Rating[:10])

t=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for a in t:
    Price.append(a.text)
print(Price[:10])

first_10laptop=pd.DataFrame({'Title':Title[:10],'Rating':Rating[:10],'Price':Price[:10]})
first_10laptop

['ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i7-1065G7 10th Gen, Thin and Light Laptop (16GB/512GB SSD/Integrated Graphics/Office 2021/Windows 11/Silver/1.6 Kg), X415JA-EK701WS', 'LG Gram 17 Intel Evo 11th Gen i7 Thin & Light Laptop 2K+ IPS 16:10 Display [16 GB RAM/ 512 GB SSD/ Windows 11 / Iris Xe Graphics/ Thunderbolt 4/ USC -C x 2 / 1.35 kg, Black/ 3Yr Warranty] 17Z90P', 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-11600H 11th Gen, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/512GB SSD/Windows 10/Office 2019/Gray/2.3 Kg), FX566HCB-HN299TS', 'HP Pavilion 14 12th Gen Intel Core i7 16GB SDRAM/1TB SSD 14 inch(35.6cm) FHD,IPS,Micro-Edge Display/Intel UHD Graphics/B&O/Win 11/Alexa Built-in/Backlit KB/FPR/MSO 2021/Natural Silver, 14-dv2015TU', 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/B&O/Win 11/FPR/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa/MS Office/Silver/1.52Kg) 14-dy1047TU', 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH', 'Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14 inches QHD IPS Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Windows 11/Office 2021/Backlit/300Nits/Storm Grey/1.41Kg), 82L3006YIN', 'ASUS Vivobook X515JA-EJ701WS Intel Core I7-1065G7 15.6 inches FHD 512 GB SSD /16 GB/Windows 11/Office 2019/1Y (Transparent Silver, 2 kg)', 'LG Gram 16 Intel Evo 11th Gen i7 Thin & Light Laptop 2K+ IPS 16:10 Display [16 GB RAM/ 512 GB SSD/ Windows 11 / Iris Xe Graphics/ Thunderbolt 4, USC -C x 2 / 1.19 kg, Black/ 3Yr Warranty] 16Z90P', 'Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 14" FHD 2-in-1 Convertible Laptop (16 GB/512GB SDD/Windows 11/MS Office 2021/Backlit Keyboard /3months Xbox Game Pass/Graphite Grey/1.5Kg), 82HS018XIN']
['4.3 out of 5 stars', '4.6 out of 5 stars', '4.5 out of 5 stars', '5.0 out of 5 stars', '3.6 out of 5 stars', '4.2 out of 5 stars', '3.9 out of 5 stars', '3.8 out of 5 stars', '4.3 out of 5 stars', '4.2 out of 5 stars']
['57,990', '88,490', '89,990', '86,990', '84,990', '86,990', '74,614', '57,300', '86,990', '81,490']

,Title,Rating,Price
0,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",4.3 out of 5 stars,"57,990"
1,LG Gram 17 Intel Evo 11th Gen i7 Thin & Light ...,4.6 out of 5 stars,"88,490"
2,"ASUS TUF Gaming F15 (2021), 15.6"" (39.62 cms) ...",4.5 out of 5 stars,"89,990"
3,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,5.0 out of 5 stars,"86,990"
4,HP Pavilion x360 11th Gen Intel Core i7 14 inc...,3.6 out of 5 stars,"84,990"
5,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.2 out of 5 stars,"86,990"
6,Lenovo IdeaPad 5 Pro 11th Gen Intel Core i7 14...,3.9 out of 5 stars,"74,614"
7,ASUS Vivobook X515JA-EJ701WS Intel Core I7-106...,3.8 out of 5 stars,"57,300"
8,LG Gram 16 Intel Evo 11th Gen i7 Thin & Light ...,4.3 out of 5 stars,"86,990"
9,Lenovo IdeaPad Flex 5 11th Gen Intel Core i7 1...,4.2 out of 5 stars,"81,490"

In [52]:
driver.close()

In [ ]:
#Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida 
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data

In [54]:
#connect to web driver
chrome_options=Options()
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"C:\Users\shaha\Desktop\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

# opneing webpage https://www.ambitionbox.com/
url="https://www.ambitionbox.com/"
driver.get(url)

#maximize the chrome window
driver.maximize_window()

#Job Option
job_option=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[6]').click()

#Entering “Data Scientist” in search field where “search by Designations, Companies, Skills” 
search_field=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_field.send_keys("Data Scientist")

# clicking on search button.
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span") 
search_button.click()
time.sleep(2)

#applying location filter
loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i").click()

#sending data in search filter
search_field=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
search_field.send_keys("Noida")
time.sleep(2)

filter=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label").click()

In [55]:
#creating empty lists
comp_name=[]
time=[]
Rating=[]

name=driver.find_elements_by_xpath("//div[@class='company-info']/p")
for i in name:
    comp_name.append(i.text)
print(comp_name)

rating=driver.find_elements_by_xpath("//div[@class='rating-wrapper']/a[1]")
for i in rating:
    Rating.append(i.text)
print(Rating)

t=driver.find_elements_by_xpath("//div[@class='other-info']/span[1]")
for i in t:
    time.append(i.text)
print(time) 
df=pd.DataFrame({'comp_name':comp_name[:10],'Rating':Rating[:10],'time':time[:10]})
df.drop(index=0,axis=0)

[' · ', 'GENPACT India Private Limited', 'Optum Global Solutions (India) Private Limited', 'GENPACT India Private Limited', 'Hcl Technologies Limited', 'EXL Services.com ( I ) Pvt. Ltd.', 'Paytm', 'Om Software Internet Solutions Private Limited', 'Paytm', 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED', 'Ashkom Media India Private Limited']
['4.0', '4.0', '4.2', '4.0', '3.9', '3.9', '3.7', '4.5', '3.7', '3.3', '3.5']
['6d ago', '14d ago', '13d ago', '16d ago', '27d ago', '9d ago', '17d ago', '27d ago', '14d ago', '13d ago']

                                        comp_name Rating     time
1                   GENPACT India Private Limited    4.0  14d ago
2  Optum Global Solutions (India) Private Limited    4.2  13d ago
3                   GENPACT India Private Limited    4.0  16d ago
4                        Hcl Technologies Limited    3.9  27d ago
5                EXL Services.com ( I ) Pvt. Ltd.    3.9   9d ago
6                                           Paytm    3.7  17d ago
7  Om Software Internet Solutions Private Limited    4.5  27d ago
8                                           Paytm    3.7  14d ago
9        MOTHERSONSUMI INFOTECH & DESIGNS LIMITED    3.3  13d ago

In [56]:
driver.close()

In [57]:
#Q10: Write a python program to scrape the salary data for Data Scientist designation.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
#The above task will be, done as shown in the below steps: 1. First get the webpage https://www.ambitionbox.com/
#2. Click on the salaries option as shown in the image 3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
#then click on “Data Scientist”. 4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
#salary, minimum salary, maximum salary, experience required. 5. Store the data in a dataframe.

#connect to web driver
chrome_options=Options()
chrome_options.add_argument("--incognito")
driver=webdriver.Chrome(r"C:\Users\shaha\Desktop\My Course\chromedriver_win32\chromedriver.exe", options=chrome_options)

# opneing webpage https://www.ambitionbox.com/
url="https://www.ambitionbox.com/"
driver.get(url)

#maximize the chrome window
driver.maximize_window()

#salary Option
salary_option=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]').click()

#Entering “Data Scientist” in search field where “search by Designations, Companies, Skills” 
search_field=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_field.send_keys("Data Scientist")

In [58]:
comp_name=[]
salry_record=[]
avg_salary=[]
min_salary=[]
max_salary=[]
exp=[]

name=driver.find_elements_by_xpath("//div[@class='name']/a")
for i in name:
    comp_name.append(i.text)
print(comp_name)

r=driver.find_elements_by_xpath("//div[@class='name']/span")
for i in r:
    salry_record.append(i.text)
print(salry_record)

r=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in r:
    avg_salary.append(i.text)
print(avg_salary)

r=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
for i in r:
    min_salary.append(i.text)
print(min_salary)

r=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
for i in r:
    max_salary.append(i.text)
print(max_salary)

r=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in r:
    exp.append(i.text[19:])
print(exp)

df=pd.DataFrame({'comp_name':comp_name,'salry_record':salry_record,'avg_salary':avg_salary,'min_salary':min_salary,'max_salary':max_salary,'exp':exp})
df

['Walmart', 'Ab Inbev', 'American Express', 'ZS', 'Optum', 'Reliance Jio', 'Fractal Analytics', 'Tiger Analytics', 'UnitedHealth', 'EXL Service']
['based on 12 salaries', 'based on 33 salaries', 'based on 10 salaries', 'based on 15 salaries', 'based on 33 salaries', 'based on 21 salaries', 'based on 83 salaries', 'based on 50 salaries', 'based on 57 salaries', 'based on 10 salaries']
['₹ 30.2L', '₹ 20.6L', '₹ 19.9L', '₹ 16.7L', '₹ 16.1L', '₹ 15.7L', '₹ 15.4L', '₹ 14.8L', '₹ 14.0L', '₹ 13.3L']
['₹ 25.0L', '₹ 15.0L', '₹ 14.1L', '₹ 11.0L', '₹ 11.0L', '₹ 5.6L', '₹ 10.0L', '₹ 9.0L', '₹ 8.3L', '₹ 8.9L']
['₹ 36.0L', '₹ 25.5L', '₹ 25.0L', '₹ 22.0L', '₹ 22.6L', '₹ 26.2L', '₹ 22.0L', '₹ 20.0L', '₹ 21.1L', '₹ 21.0L']
['3 yrs exp', '3-4 yrs exp', '4 yrs exp', '2 yrs exp', '3-4 yrs exp', '3-4 yrs exp', '2-4 yrs exp', '2-4 yrs exp', '2-4 yrs exp', '4 yrs exp']

,comp_name,salry_record,avg_salary,min_salary,max_salary,exp
0,Walmart,based on 12 salaries,₹ 30.2L,₹ 25.0L,₹ 36.0L,3 yrs exp
1,Ab Inbev,based on 33 salaries,₹ 20.6L,₹ 15.0L,₹ 25.5L,3-4 yrs exp
2,American Express,based on 10 salaries,₹ 19.9L,₹ 14.1L,₹ 25.0L,4 yrs exp
3,ZS,based on 15 salaries,₹ 16.7L,₹ 11.0L,₹ 22.0L,2 yrs exp
4,Optum,based on 33 salaries,₹ 16.1L,₹ 11.0L,₹ 22.6L,3-4 yrs exp
5,Reliance Jio,based on 21 salaries,₹ 15.7L,₹ 5.6L,₹ 26.2L,3-4 yrs exp
6,Fractal Analytics,based on 83 salaries,₹ 15.4L,₹ 10.0L,₹ 22.0L,2-4 yrs exp
7,Tiger Analytics,based on 50 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L,2-4 yrs exp
8,UnitedHealth,based on 57 salaries,₹ 14.0L,₹ 8.3L,₹ 21.1L,2-4 yrs exp
9,EXL Service,based on 10 salaries,₹ 13.3L,₹ 8.9L,₹ 21.0L,4 yrs exp

In [59]:
driver.close()